/* src/components/Home.css */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
 /* Gradient Background */
 background: rgb(67,39,237);
background: linear-gradient(179deg, rgba(67,39,237,1) 0%, rgba(94,48,209,1) 0%, rgba(17,11,37,1) 0%, rgba(77,72,87,1) 0%, rgba(17,12,20,1) 20%, rgba(24,2,25,1) 31%, rgba(21,2,22,1) 44%, rgba(18,2,19,1) 55%, rgba(19,5,20,1) 58%, rgba(27,2,31,1) 70%, rgba(16,1,19,1) 89%, rgba(21,0,22,1) 93%, rgba(39,1,48,1) 99%, rgba(190,183,203,1) 100%, rgba(168,161,160,1) 100%, rgba(82,16,226,1) 100%);
  text-align: center;
  padding: 20px;
}

.profile-section {
  max-width: 600px;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #f0f0f0;
}
